:host {
    background-color: black;
    padding: 12px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-direction: row;
}