:host {
    background-color: black;
    width: 25%;
    height: 35vh;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 35vh;
}

.wrap {
    flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: nowrap;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}
